 <div class="col-xs-9">
     <div class="row">
         <div class="container">
             <h1 editable-text="board.title" onbeforesave="updateBoard($data)">{{board.title}}</h1>
             <hr class="red"/>
             <div ng-repeat="list in board.lists | orderBy: 'id'" list-panel list="list" show-footer="showFooter" toggle-footer="toggleFooter()" delete-list="deleteList(list)">
             </div>
         </div>
     </div>
</div>

 <div class="col-xs-2 col-xs-offset-1" id="sidebar">
     <div class="row">
         <select id="small" class="form-control" ng-model="currentPage" ng-change="changePage(currentPage)">
             <option ng-repeat="board in boards" value="{{board.id}}">{{board.title}}</option>
         </select>
     </div>
     <br/>
    <div class="row">
        <button ng-click="createList()" class="btn btn-warning">Add New List</button>
        <button class="btn btn-danger" ng-click="deleteBoard(board)">Delete Board</button>
    </div>
     <hr class="thin"/>
     <div class="row">
         <h3 class="text-center" style="color: white;">Members</h3>
         <div class="col-xs-8">
             <select id="small" class="form-control" ng-model="boardMember">
                 <option ng-repeat="user in users" value="{{user.id}}">
                     {{user.email}}
                 </option>
             </select>
         </div>
         <div class="col-xs-4">
             <button class="btn btn-success btn-sm" ng-click="addBoardMember(boardMember)">Add</button>
         </div>
     </div>
     <div class="row">
         <br/>
         <div ng-repeat="member in board.members">
             <br/>
             <img src="http://lorempixel.com/30/30" />
             <span style="color: white;">{{ member.email }}</span>
             <a ng-click="removeMember(member)"><span class="glyphicon delete-icon glyphicon-remove pull-right"></span></a>
         </div>
     </div>
     <hr class="thin"/>

</div>
